<div class="about-container" id="about">
  <section class="about-section">
    <h3 class="about-title">About the App</h3>
    <div class="about-wrapper">
      <div class="about-container-tex">
        <p class="about-text">
          "Forest Rescue" is a match-3 puzzle game set in a beautiful forest
          where players help adorable animals save their home from an evil
          lumberjack. The game blends classic match-3 mechanics with a rich
          storyline, offering a compelling mix of puzzles and adventure.
        </p>
      </div>
      <div class="about-image-wrapper">
        <img
          class="about-image"
          src="/img/about/about-birds-mob-1x.png"
          alt="birds"
        />
        <img
          class="about-image about-image-2"
          src="/img/about/about-game-mob-1x.png"
          alt="game"
        />
      </div>
      <div class="about-text-after-image">
        <p class="about-text">
          As you progress through the game, you&#96;ll solve puzzles to collect
          resources and complete tasks that will restore the forest to its
          former glory.
        </p>

        <p class="about-text">
          With stunning visuals, engaging gameplay, and regular updates, "Forest
          Rescue" is perfect for players who love puzzles with a purpose.
        </p>
      </div>
    </div>
    <!-- Desktop -->
    <div class="about-wrapper-desk">
      <div class="about-text-container">
        <div class="about-text-wrapper-1">
          <p class="about-text">
            "Forest Rescue" is a match-3 puzzle game set in a beautiful forest
            where players help adorable animals save their home from an evil
            lumberjack.
          </p>
        </div>
        <div class="about-text-wrapper-2">
          <p class="about-text">
            The game blends classic match-3 mechanics with a rich storyline,
            offering a compelling mix of puzzles and adventure. As you progress
            through the game, you&#96;ll solve puzzles to collect resources and
            complete tasks that will restore the forest to its former glory.
          </p>
        </div>
        <div class="about-text-wrapper-3">
          <p class="about-text">
            With stunning visuals, engaging gameplay, and regular updates,
            "Forest Rescue" is perfect for players who love puzzles with a
            purpose.
          </p>
        </div>
      </div>
      <div class="about-image-wrapper-desk">
        <div class="about-image-1">
          <img
            src="/img/about/about-birds-desk-1x.png"
            alt="birds"
            width="426px"
            height="260px"
          />
        </div>
        <div class="about-image-2">
          <img
            src="/img/about/about-game-desk-1x.png"
            alt="game"
            width="426px"
            height="260px"
          />
        </div>
      </div>
    </div>
  </section>
</div>
