<div class="advantages-container" id="advantages">
  <section class="advantages-section">
    <h3 class="advantages-title">Advantages</h3>
    <div class="top-background-image">
      <div class="first-block">
        <p class="advantages-text">
          Immerse yourself in the vibrant and beautiful forest world, filled
          with adorable animals and lush scenery.
        </p>
      </div>
      <div class="second-block">
        <p class="advantages-text">
          The game combines classic match-3 gameplay with a compelling story of
          saving the forest from an evil lumberjack, providing a mix of fun and
          purpose.
        </p>
      </div>
    </div>
    <div class="central-backgroung-image"></div>
    <div class="bottom-background-image">
      <div class="first-block">
        <p class="advantages-text">
          Engage with a variety of challenging levels that encourage both
          strategic moves and quick thinking to save the forest.
        </p>
      </div>
      <div class="second-block">
        <p class="advantages-text">
          Regular updates bring new levels, features, and events, ensuring a
          fresh and exciting experience for players.
        </p>
      </div>
    </div>
  </section>

  <div class="background">
    <div class="advantages-desktop-container">
      <section class="advantages-desktop-section">
        <h3 class="advantages-title">Advantages</h3>
        <div class="advantages-desktop-background">
          <div class="advantages-desk-block-1">
            <div class="advantages-image-wrapper">
              <img
                class="advantages-image"
                src="/img/advantures/advantages-squirrel-1x.png"
                alt="squirrel"
                width="336px"
              />
            </div>
            <div class="advantages-text-wrapper advantages-text-wrapper-1">
              <p class="advantages-text">
                Immerse yourself in the vibrant and beautiful forest world,
                filled with adorable animals and lush scenery.
              </p>
            </div>
            <div class="advantages-text-wrapper">
              <p class="advantages-text">
                Engage with a variety of challenging levels that encourage both
                strategic moves and quick thinking to save the forest.
              </p>
            </div>
          </div>
          <div class="advantages-desk-block-2">
            <div class="advantages-text-wrapper">
              <p class="advantages-text">
                Regular updates bring new levels, features, and events, ensuring
                a fresh and exciting experience for players.
              </p>
            </div>

            <div class="advantages-text-wrapper">
              <p class="advantages-text">
                The game combines classic match-3 gameplay with a compelling
                story of saving the forest from an evil lumberjack, providing a
                mix of fun and purpose.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
