<div class="adventure-container">
  <section class="adventure-section">
    <h3 class="adventure-title">Ready to join the forest adventure?</h3>

    <p class="adventure-text">
      Download <span class="adventure-span">'Forest Rescue'</span> today and
      help save the forest from the evil lumberjack! Solve exciting match-3
      puzzles, team up with cute forest animals, and restore the natural beauty
      of the forest.With captivating gameplay and stunning visuals, 'Forest
      Rescue' offers endless fun. Don&grave;t wait &#8211; download now and
      embark on your forest-saving mission!
    </p>

    <a
      class="hero-link"
      href="https://play.google.com/store/apps/details?id=air.com.qublix.forestrescue"
      target="_blank"
    >
      <img
        class="link-google"
        src="/img/hero/google-play-mob-2x.png"
        alt="google play"
    /></a>
  </section>
</div>
