<div class="footer">
  <div class="container-footer">
    <div class="logo-container">
      <img
        srcset="
          /img/footerImg/burunduk.png   1x,
          /img/footerImg/burunduk2x.png 2x
        "
        src="/img/footerImg/burunduk.png"
        alt="logo-"
        class="burunduk"
      />
      <h3 class="footer-title">Forest Rescue: Match 3 Puzzle</h3>
    </div>

    <div class="links-container">
      <a href="../privacy-policy.html" class="link privacy">Privacy Policy</a>
      <a href="../termsOfService.html" class="link terms">Terms of Service</a>
    </div>
  </div>

  <h2 class="footer-rights">All rights reserved joyfulbesthub.com | 2024</h2>
</div>
