<div class="general-background">
  <load ="partials/header.html" />
  <section class="hero-section">
    <div class="hero-wrapper">
      <div class="title-link-wrapper">
        <div class="hero-title-wrapper">
          <h1 class="hero-title">Forest Rescue:</h1>
          <p class="hero-title-span">Match 3 Puzzle</p>
        </div>

        <ul class="hero-section-list">
          <li>
            <img
              srcset="
                /img/hero/hero-tel-mob-1x.png 1x,
                /img/hero/hero-tel-mob-2x.png 2x
              "
              src="/img/hero/hero-tel-mob-1x.png"
              alt="mobile-phone"
            />
          </li>
          <li>
            <img
              srcset="
                /img/hero/hero-tel2-mob-1x.png 1x,
                /img/hero/hero-tel2-mob-2x.png 2x
              "
              src="/img/hero/hero-tel2-mob-1x.png"
              alt="mobile-phone"
            />
          </li>
        </ul>
        <a
          class="hero-link"
          href="https://play.google.com/store/apps/details?id=air.com.qublix.forestrescue"
          target="_blank"
        >
          <img
            class="link-google"
            src="/img/hero/google-play-mob-1x.png"
            alt="google play"
          />
        </a>
      </div>
      <div>
        <ul class="hero-section-list-desc">
          <li>
            <img
              class="hero-img-one"
              srcset="
                /img/hero/hero-tel-desc-1x.png 1x,
                /img/hero/hero-tel-desc-2x.png 2x
              "
              src="/img/hero/hero-tel-desc-1x.png"
              alt="mobile-phone"
            />
          </li>
          <li>
            <img
              class="hero-img-second"
              srcset="
                /img/hero/hero-tel2-desc-1x.png 1x,
                /img/hero/hero-tel2-desc-2x.png 2x
              "
              src="/img/hero/hero-tel2-desc-1x.png"
              alt="mobile-phone"
            />
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

<div class="road">
  <img
    class="hero-img-road"
    srcset="/img/hero/road-1x.png 1x, /img/hero/road-2x.png 2x"
    src="/img/hero/road-1x.png"
    alt="hero-img"
  />
</div>
