<div class="reviews-section-container">
  <section class="reviews-section">
    <div class="reviews-section-wrapper">
      <h2 class="reviews-main-title">Reviews</h2>
      <div class="reviews-list swiper-container">
        <div class="reviews-list-wrapper swiper-wrapper">
          <div class="swiper-slide">
            <div class="reviews-wrapper">
              <img
                class="reviews-image"
                src="../img/reviews/tree-mob-1x.png"
                alt="tree"
              />
              <h3 class="reviews-title">ForestFriend</h3>
            </div>
            <p class="reviews-text">
              The characters are so cute, and the game is really addictive! Love
              the nature theme.
            </p>
          </div>
          <div class="swiper-slide right">
            <div class="reviews-wrapper">
              <img
                class="reviews-image"
                src="../img/reviews/acorn-mob-1x.png"
                alt="acorn"
              />
              <h3 class="reviews-title">MatchGuru</h3>
            </div>

            <p class="reviews-text">
              Challenging but rewarding levels. It&grave;s one of the best
              match-3 games I&grave;ve played!
            </p>
          </div>
          <div class="swiper-slide">
            <div class="reviews-wrapper">
              <img
                class="reviews-image"
                src="../img/reviews/puzzle-mob-1x.png"
                alt="tree"
              />
              <h3 class="reviews-title">PuzzleLover</h3>
            </div>

            <p class="reviews-text">
              Beautiful graphics and great gameplay. A perfect way to relax
              after a long day..
            </p>
          </div>
          <div class="swiper-slide right">
            <div class="reviews-wrapper">
              <img
                class="reviews-image"
                src="../img/reviews/spider-mob-1x.png"
                alt="tree"
              />
              <h3 class="reviews-title">NatureDefender</h3>
            </div>

            <p class="reviews-text">
              I love how the game combines fun puzzles with a meaningful story
              of saving the forest!
            </p>
          </div>
          <div class="swiper-slide">
            <div class="reviews-wrapper">
              <img
                class="reviews-image"
                src="../img/reviews/frog-mob-1x.png"
                alt="tree"
              />
              <h3 class="reviews-title">GreenGamer</h3>
            </div>

            <p class="reviews-text">
              Fantastic gameplay, and each update makes it even better with new
              features and events.
            </p>
          </div>
        </div>
      </div>
      <div class="button-container">
        <button type="button" class="reviews-button button-next">
          <svg class="icon-burger-menu" width="40px" height="40px">
            <use href="/img/sprite.svg#icon-icon-arrow-down"></use>
          </svg>
        </button>
      </div>
    </div>
    <h2 class="reviews-main-title visibility">Reviews</h2>
    <div class="accordion">
      <div class="accordion-item">
        <button class="accordion-header">
          <img
            class="reviews-image"
            src="../img/reviews/tree-mob-1x.png"
            alt="tree"
          />
          <h3 class="reviews-title">ForestFriend</h3>
          <svg class="icon-burger-menu" width="40px" height="40px">
            <use href="../img/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>

        <div class="accordion-content">
          <p class="reviews-text">
            The characters are so cute, and the game is really addictive! Love
            the nature theme.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">
          <img
            class="reviews-image"
            src="../img/reviews/acorn-mob-1x.png"
            alt="acorn"
          />
          <h3 class="reviews-title">MatchGuru</h3>
          <svg class="icon-burger-menu" width="40px" height="40px">
            <use href="../img/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion-content">
          <p class="reviews-text">
            Challenging but rewarding levels. It&grave;s one of the best match-3
            games I&grave;ve played!
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">
          <img
            class="reviews-image"
            src="../img/reviews/puzzle-mob-1x.png"
            alt="tree"
          />
          <h3 class="reviews-title">PuzzleLover</h3>
          <svg class="icon-burger-menu" width="40px" height="40px">
            <use href="../img/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion-content">
          <p class="reviews-text">
            Beautiful graphics and great gameplay. A perfect way to relax after
            a long day.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">
          <img
            class="reviews-image"
            src="../img/reviews/spider-mob-1x.png"
            alt="tree"
          />
          <h3 class="reviews-title">NatureDefender</h3>
          <svg class="icon-burger-menu" width="40px" height="40px">
            <use href="../img/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion-content">
          <p class="reviews-text">
            I love how the game combines fun puzzles with a meaningful story of
            saving the forest!
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">
          <img
            class="reviews-image"
            src="../img/reviews/frog-mob-1x.png"
            alt="tree"
          />
          <h3 class="reviews-title">GreenGamer</h3>
          <svg class="icon-burger-menu" width="40px" height="40px">
            <use href="../img/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion-content">
          <p class="reviews-text">
            Fantastic gameplay, and each update makes it even better with new
            features and events.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
