<section class="gallery-section" id="gallery">
  <div class="container gallery-wrap">
    <h2 class="gallery-section-title">Gallery</h2>
    <div class="gallery-swiper-container">
      <div class="gallery-swiper swiper1">
        <div class="gallery-swiper-wrapper swiper-wrapper">
          <div class="first-slide gallery-swiper-slide swiper-slide">
            <img src="/img/swiperImg/img(1).png" alt="game slide 1" />
          </div>
          <div class="second-slide gallery-swiper-slide swiper-slide">
            <img src="/img/swiperImg/img.png" alt="game slide 2" />
          </div>
          <div class="third-slide gallery-swiper-slide swiper-slide">
            <img src="/img/swiperImg/img(2).png" alt="game slide 3" />
          </div>
          <div class="fifth-slide gallery-swiper-slide swiper-slide">
            <img src="/img/swiperImg/img(3).png" alt="game slide 4" />
          </div>
          <div class="six-slide gallery-swiper-slide swiper-slide">
            <img src="/img/swiperImg/img(4).png" alt="game slide 5" />
          </div>
        </div>
      </div>

      <div class="gallery-swiper-buttons">
        <div class="swiper-button-prev">
          <img src="/img/swiperImg/left.png" />
        </div>
        <div class="swiper-button-next">
          <img src="/img/swiperImg/right(1).png" />
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
