.footer {
  background-color: #8da93b;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
    position: relative;
  }

  .container-footer {
    display: flex;

    justify-content: space-between;
    width: 288px;
    padding: 24px 16px 24px 16px;

    @include media(desktop) {
      width: 1200px;
      padding: 34px 72px 34px 72px;
    }

    .logo-container {
      display: flex;
      align-items: center;

      width: 136px;
      height: 40px;
      gap: 8px;

      @include media(desktop) {
        width: 202px;
        height: 72px;
        gap: 16px;
      }

      .burunduk {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #f9e000;

        @include media(desktop) {
          width: 72px;
          height: 72px;
          border: 2px solid #f9e000;
        }
      }

      .footer-title {
        font-family: 'Cherry Bomb', sans-serif;
        @include font(12, 16);
        font-weight: 400;
        color: #f9e000;
        text-shadow: 0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200,
          0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200,
          0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200,
          0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200;

        @include media(desktop) {
          @include font(16, 16);
        }
      }
    }

    .links-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      @include media(desktop) {
        align-items: end;
      }

      .link {
        font-family: 'Josefin Sans', sans-serif;
        @include font(12, 16);
        font-weight: 500;
        color: #112e16;
        text-decoration: underline;

        @include media(desktop) {
          @include font(20, 28);
        }
      }

      .link:hover,
      .link:focus {
        color: #db4200;
      }

      // .link.privacy:visited {
      //   color: #457036;
      // }

      // .link.terms:visited {
      //   color: #457036;
      // }

      // .link:current {
      //   color: #457036;
      // }
    }
  }

  .footer-rights {
    font-family: 'Josefin Sans', sans-serif;
    width: 136px;
    @include font(12, 16);
    font-weight: 500;
    color: #112e16;
    text-align: center;
    padding-bottom: 6px;

    @include media(desktop) {
      position: absolute;
      width: 400px;
      @include font(20, 28);
    }
  }
}
