.swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 64px;

  @include media(desktop) {
    height: 956px;
    width: 1200px;
    margin-bottom: 150px;
  }

  & .swiper-title {
    margin-top: 64px;
    font-family: Cherry Bomb, sans-serif;
    font-weight: 400;
    @include font(28, 28);
    color: $_accent_color;
    text-shadow: 0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200,
      0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200,
      0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200,
      0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200, 0 0 3px #db4200;

    text-align: center;
    margin-bottom: 28px;

    @include media(desktop) {
      @include font(64, 72);
      margin-bottom: 100 !important;
    }
  }

  & .swiper-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 264px;
    height: 388px;
    margin-bottom: 40px;

    @include media(desktop) {
      width: 328px;
      height: 532px;
    }
  }

  & .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    @include media(desktop) {
      transition: transform 0.3s ease;
    }
  }

  & .swiper-slide-active {
    @include media(desktop) {
      margin-top: 160px;
      // margin-bottom: 68px;
    }
  }

  @include media(desktop) {
    & .swiper-slide-active .back {
      background-color: #f9e000;
    }
  }

  & .back {
    width: 264px;
    height: 388px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a9cf39;
    border-radius: 16px;
    @include media(desktop) {
      width: 328px;
      height: 532px;
    }
  }

  & .swiper-img {
    width: 224px;
    height: 348px;
    @include media(desktop) {
      width: 288px;
      height: 492px;
    }
  }

  & .swiper-buttons {
    margin-top: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 26px;
    margin-bottom: 30px;
    @include media(desktop) {
      gap: 650px !important;
      margin-top: 56px;
    }
  }

  & .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    margin-bottom: 64px;

    @include media(desktop) {
      width: 66px;
      height: 48px;
    }
  }
  @include media(desktop) {
    .swiper-button-prev {
      left: 160px;
    }

    .swiper-button-next {
      right: 160px;
    }
  }

  & .swiper-pagination {
    display: none;
    @include media(desktop) {
      display: block;
    }
  }

  .swiper-pagination-bullet {
    background: #f9e000 !important;
    width: 24px !important;
    height: 24px !important;
    border-radius: 3px !important;
    opacity: 0.7 !important;
    margin: 0 5px !important;
    transition: background 0.3s !important;
  }

  .swiper-pagination-bullet-active {
    border: 4px solid #db4200;
    width: 28px !important;
    height: 28px !important;
  }
}
